---
import Section from "@/components/Section.astro";
const { data, title } = Astro.props;
const { basics } = data;
const { summary } = basics;
---

<Section title={title}>
    <p>{summary}</p>
</Section>